.todo{
    width: 400px;
    margin: 0 auto;
}

.todo-form{
    display: flex;
}
.todo-form input{
    flex-grow: 1;
}

.todo-filter{
    margin: 20px 0;
    text-align: right;
}

.todo-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
}

.remove{
    margin-left: auto;
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.error{
    color: red;
    font-size: .9em;
}