header{
    background-color: #333;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    opacity: .6;
    transition: opacity .3s;
}

.main-menu a:hover{
    opacity: 1;
}

.main-menu a.active{
    color: orangered;
    opacity: 1;
}


.btn{
    background: transparent;
    border: none;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color .3s;
}

.btn:hover{
    background-color: black;
}