.title{
  color: dodgerblue
}

.container{
  width: 70%;
  margin: 0 auto;
}

.users-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px
}

.users-list img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}